<div class="navbar-header">
    <div class="row align-items-center justify-content-between">
        <div class="col-auto">
            <div class="d-flex flex-wrap align-items-center gap-4">
                <form class="navbar-search">
                    <input type="text" name="search" placeholder="Search">
                    <iconify-icon icon="ion:search-outline" class="icon"></iconify-icon>
                </form>
            </div>
        </div>
        <div class="col-auto">
            <div class="d-flex flex-wrap align-items-center gap-3">

                <div>
                    {{this.userDetails.nom}} {{this.userDetails.prenom}}
                </div>

                <div class="dropdown">
                        <img src="assets/images/userr.jpg" alt="image"
                            class="w-40-px h-40-px object-fit-cover rounded-circle">
                </div>

                <div>
                    <a (click)="logout()">
                        <button class="text-primary-600">Déconnexion</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>