<!-- Footer Start -->
<div class="section footer-section">

    <!-- Footer Widget Section Start -->
    <div class="footer-widget-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5 order-md-1 order-lg-1">
                    <!-- Footer Widget Start -->
                    <div class="footer-widget">
                        <div class="widget-text">
                            <a href="#"><img src="assets/images/logo/logo.png" width="140" alt=""></a>
                            <p>Chaque pièce est soigneusement sélectionnée afin d’apporter une touche d’élégance et d’harmonie à votre espace de vie.</p>
                        </div>
                        <div class="widget-social">
                            <h5 class="title">Lien Social</h5>
                            <div class="social">
                                <a href="#"><i class="fa fa-facebook-f"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-skype"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget End -->
                </div>
                <div class="col-lg-6 order-md-3 order-lg-2">
                    <div class="widget-link-wrapper">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">Menu</h4>
                            <div class="footer-widget-link">
                                <ul>
                                    <li><a routerLink="/"><i class="fa fa-angle-double-right"></i> Acceuil </a></li>
                                    <li><a routerLink="/about"><i class="fa fa-angle-double-right"></i> A propos </a></li>
                                    <li><a routerLink="/produit"><i class="fa fa-angle-double-right"></i> Produit </a></li>
                                    <li><a routerLink="/contact"><i class="fa fa-angle-double-right"></i> Contactez-nous </a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-7 order-md-2 order-lg-3">
                    <!-- Footer Widget Start -->
                    <div class="footer-widget widget-info">
                        <h4 class="footer-widget-title">Infos de contact</h4>
                        <div class="widget-info-wrapper">
                            <h5 class="title">Siège social</h5>
                            <div class="single-info">
                                <p>Errahma, Menzel Bouzelfa, Nabeul, Tunisie</p>
                            </div>
                            <div class="single-info">
                                <p>Téléphone : <a href="tel:+12345698744">+216 56202555</a></p>
                                <p>Mobile : <a href="tel:+98745852741">+216 56202555</a></p>
                            </div>
                            <div class="single-info">
                                <p><a href="mailto:deco4you@gmail.com">deco4you@gmail.com</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Widget Section End -->

    <!-- Footer Copyright Start -->
    <div class="footer-copyright">
        <div class="container">
            <div class="copyright-payment">
                <div class="copyright-text">
                    <p class="mb-0">Développé par <span class="text-primary-600">Rayen Benzid</span></p>
                </div>
                <div class="payment-method">
                    <img src="assets/images/payment.png" alt="Payment">
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Copyright End -->

    <div class="footer-shape">
        <img src="assets/images/footer-shape.png" alt="">
    </div>

</div>
<!-- Footer End -->

<!-- Back to Top Start -->
<a (click)="scrollToTop()" class="back-to-top"><i class="fa fa-angle-up"></i></a>
<!-- Back to Top End -->

